.bg-custom {
    background-color: #1a3b70;
    height: 50px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
}

.hr-color {
    border-top: 3px solid #1a3b70;
}

.bg-custom-small {
    background-color: #0c1a32;
    height: 50px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
}
.bg-custom-div{
    background-color: #F7F7F7;
}

.btn-bg-custom{
    background-color: #ffe500;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    border-radius: 3px;
    padding: 4px 8px;
    border: none;
    vertical-align: middle;
}
.li-header-custom{
    background-color: #F7F7F7;
    color: #949494;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    vertical-align: middle;
}
.li-header-custom:hover{
    background-color: #bbbbbb;
    color: #F7F7F7;
}

.li-header-custom-red{
    background-color: #c62d19;
    color: #F7F7F7;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    vertical-align: middle;
}
.li-header-custom-red:hover{
    background-color: #F7F7F7;
    color: #c62d19;
}

.span-li-custom{
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color: #1a3b70;
    font-weight: bold;
}


.a-nav-custom{
    display: flex;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color:white;
    text-decoration: none;
}
.a-header-custom{
    display: flex;
    align-items: baseline;
    text-decoration: none;
}

.a-nav-custom:hover {
    text-decoration: underline;
}

ul.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.center-li-custom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoom-effect:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.facebook{
    width: 28px;
    height: 32px;
}

.navbar-large {
    display: block;
}

.navbar-small {
    display: none;
}

.navbar-smaller {
    display: block;
}

.header-large{
    display: block;
    margin-top: 50px;
    padding-right: 60px;
    padding-left: 60px;
}

.header-small{
    display: none;
}

.header-smaller{
    display: none;
}

@media (max-width: 1100px) {
    .navbar-large {
        display: none;
    }

    .navbar-small {
        display: block;
    }

    .header-large{
        display: none;
    }

    .header-small{
        display: block;
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media (max-width: 830px) {
    .navbar-smaller {
        display: none;
    }
    div{
        flex-display: column; !important;
    }
    .fullscreen-div {
        width: 80%;
        margin-top:0px;
    }

    .header-large{
        display: none;
    }
    .header-small{
        display: none;
    }

    .header-smaller{
        display: block;
    }
}

ul, li{
    list-style-type: none ;
}

.span-custom-date {
    font-family: "DM Serif Display", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: bold;
    width:150px;
}
.span-custom{
    font-family: "DM Serif Display", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.span-weather-custom {
    font-family: "DM Serif Display", sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
}


.align-bottom-custom{
    align-items: flex-end;
}

.nav-m-small{
    margin-top:50px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
