.bg-custom {
    background-color: #1a3b70;
    height: 50px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
}

.hr-color {
    border-top: 3px solid #1a3b70;
}

.body-color-2{
    background-color: #1a3b70;
    width:1100px;
    padding-right: 60px;
    padding-left: 60px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg-custom-small {
    background-color: #0c1a32;
    height: 50px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
}
.bg-custom-div{
    background-color: #F7F7F7;
    align-items: center;
    justify-content: center;
}


.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: white;
    transition: left 0.5s ease;
}

.menu.open {
    left: 0;
}


.div-custom-body{
    background-color: #F7F7F7;
    width:1100px;
    padding-right: 60px;
    padding-left: 60px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-custom{
    width: 100vw;
}

.post-left-custom{
    background-color: #e7e4e4;
}

.btn-bg-custom{
    background-color: #ffe500;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    border-radius: 3px;
    padding: 4px 8px;
    border: none;
    vertical-align: middle;
}
.h-body-2{
    font-family: "DM Serif Display", serif;
    color: white;
}

.li-header-custom{
    background-color: #F7F7F7;
    color: #949494;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    vertical-align: middle;
}
.li-header-custom:hover{
    background-color: #bbbbbb;
    color: #F7F7F7;
}

.li-header-custom-red{
    background-color: #c62d19;
    color: #F7F7F7;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    vertical-align: middle;
}
.li-header-custom-red:hover{
    background-color: #F7F7F7;
    color: #c62d19;
}

.span-li-custom{
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color: #1a3b70;
    font-weight: bold;
}

.p-post-font{
    font-family: "DM Serif Display", serif;
}

.btn-post{
    background-color: #1a3b70;
    color: white;
    font-family: "DM Sans", sans-serif;
}

.btn-post:hover{
    background-color: #0c1a32;
    color: white;
}

.p-footer-custom{
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    color: #333333;

}

.a-footer-custom{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #1a3b70;
    text-decoration: none;
}

.a-footer-custom:hover{
    text-decoration: underline;
}

.a-nav-custom{
    display: flex;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    color:white;
    text-decoration: none;
}
.a-header-custom{
    display: flex;
    align-items: baseline;
    text-decoration: none;
}
.p-post-custom{
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    color:black;
}
.divider{
   color: #1a3b70;
}
.card-custom{
    width: 100%;
}

.a-nav-custom:hover {
    text-decoration: underline;
}

.a-post-custom{
    display: flex;
    font-family: "DM Serif Display", serif;
    color:black;
    text-decoration: none;
}

.a-post-custom:hover{
    text-decoration: underline;
}

.a-h-custom{
    font-family: "DM Serif Display", serif;
    color:#1a3b70;
    text-decoration: none;
}
.a-h-custom:hover{
    text-decoration: underline;
}

ul.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.center-li-custom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoom-effect:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.facebook{
    width: 28px;
    height: 32px;
}

.navbar-large {
    display: block;
}

.navbar-small {
    display: none;
}

.navbar-smaller {
    display: block;
}

.header-large{
    display: block;
    margin-top: 50px;
    padding-right: 60px;
    padding-left: 60px;
}

.header-small{
    display: none;
}

.header-smaller{
    display: none;
}

.body-large{
    display: block;
}

.body-small{
    display: none;
}

@media (max-width: 1100px) {
    .navbar-large {
        display: none;
    }

    .navbar-small {
        display: block;
    }

    .header-large{
        display: none;
    }

    .header-small{
        display: block;
        padding-right: 60px;
        padding-left: 60px;
    }

    .body-large{
        display: none;
    }

    .body-small{
        display: block;
    }


    .div-custom-body{
        background-color: #F7F7F7;
        width:860px;
        padding-right: 60px;
        padding-left: 60px;
        margin:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .body-color-2{
        background-color: #1a3b70;
        width:860px;
        padding-right: 60px;
        padding-left: 60px;
        margin:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 830px) {
    .navbar-smaller {
        display: none;
    }

    .header-large{
        display: none;
    }
    .header-small{
        display: none;
    }

    .header-smaller{
        display: block;
    }
    .div-custom-body{
        background-color: #F7F7F7;
        width:600px;
        padding-right: 60px;
        padding-left: 60px;
        margin:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .body-color-2{
        background-color: #1a3b70;
        width:600px;
        padding-right: 60px;
        padding-left: 60px;
        margin:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

ul, li{
    list-style-type: none ;
}

@media (max-width: 660px) {
    .ul-custom{
        width: 100vw;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
    }
}
.ul-custom{
    display:flex;
}
.span-custom-date {
    font-family: "DM Serif Display", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: bold;
    width:150px;
}
.span-custom{
    font-family: "DM Serif Display", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.span-weather-custom {
    font-family: "DM Serif Display", sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
}


.align-bottom-custom{
    align-items: flex-end;
}

.nav-m-small{
    width: 100vw;
    margin-top:50px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
